.nav {
    list-style-type: none;
    margin: 0 auto;
  	padding: 0;
  	width: 75%;
  	height: 5.74em;
    overflow: hidden;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;}

.nav > li {
    float: left;
    padding-top: 25px;}

.nav > li > a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;}

.nav > li > a:hover {
	  color: #c1c1c1;} 

body{
	  background-color: #F9FF00;
	  background-image: url(lines5.jpg);}

h1 {
  	color: black;
  	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  	font-size: 100px;
  	margin: 0 auto;
    padding: 0;
    width: 75%;
    height: 1.74em;}

#firstline {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    margin: 0 auto;
  	padding: 0;
  	width: 75%;
  	height: 1.74em;}

#secondline {
    display: block;
    height: 150px;
    border: 0;
    border-top: 1px solid;
    margin: 1em 0;
    padding: 0;
    width: 35%;}

p {
  	color: black;
  	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  	font-size: 48px;
  	margin: 0 auto;
    letter-spacing: 0.02em;
    padding: 10;
    padding-top: 10px;
    width: 95%;
    height: 1.74em;}

#box{
    border-radius: 45px;
    border: 11px solid black;
    background: #FF3DB1;
    background-clip: content-box;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 45%;
    padding: 16px;
    transform: translate(-50%, -50%);}


#fsizecolor {
	  font-size: 15px;
	  color: black;}

  /*Tablet*/
@media all and (max-width: 768px)
{ body{
    background-color: pink;
    background-image: none;}
    
  p{
   font-size: 28px;}}

  /*Mobile*/
@media all and (max-width: 320px)
{  body{
  background-color: pink;
  background-image: none;}
  p{
  font-size: 14px;}}

/*Bigger Size*/
@media all and (min-width: 1500px)
{ body{
    background-color: pink;
    background-image: none;}

  

