.nav {
    list-style-type: none;
    margin: 0 auto;
  	padding: 0;
  	width: 75%;
  	height: 5.74em;
    overflow: hidden;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;}

.nav > li {
float: left;
padding-top: 25px;}

.nav > li > a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;}

.nav > li > a:hover {
	color: #c1c1c1;} 

body{
	background-color: #F9FF00;
	background-image: url(lines5.jpg);}

h1 {
  	color: black;
  	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  	font-size: 100px;
   /* letter-spacing: 0.02em;*/
  	margin: 0 auto;
    padding: 0;
    width: 75%;
    height: 1.74em;
    /*text-shadow: 3px -1px 0px #FF3DB1*/
  }

#firstline {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    margin: 0 auto;
  	padding: 0;
  	width: 75%;
  	height: 1.74em;}


p {
  	color: ##ececec;
  	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  	font-size: 16px;
  	margin: 0 auto;
    letter-spacing: 0.02em;
    padding: 10;
    padding-top: 10px;
    width: 95%;
    height: 1.74em;}

/*#box {
    border: 10px solid black;
    padding: 15px;
    margin: 0 auto;
    width: 70%;
    height: 13.74em;
    background: #ececec;
    background-clip: content-box;}*/

#box {
  /*  border: 10px solid black;
    padding: 15px;
    margin: 0 auto;
    width: 70%;
    height: 13.74em;
    background: #ececec;
    background-clip: content-box;*/
    border-radius: 45px;
    border: 11px solid black;
    background: #FF3DB1;
    background-clip: content-box;
    position: fixed;
    text-align: center;
    top: 60%;
    left: 50%;
    width: 55%;
    height: 290px;
    padding: 16px;
    transform: translate(-50%, -50%);
}}


#fsizecolor {
	font-size: 13px;
	color: black;}


  /*Tablet*/
@media all and (max-width: 768px)
{  body{
    background-color: pink;
    /*background-image: none;*/}
  h1{
    font-size: 60px;}
  #box {
    height: 58em;
  }
  p{
    font-size: 55px;
    padding-top: 100px;}
  #fsizecolor {
    font-size: 20px;
}
}

  /*Mobile*/
@media all and (max-width: 320px)
{ body{
    background-color: pink;
    background-image: none;}
  #box {
    height: 68em;
  }
  h1{
    font-size: 40px;}
    
  p{
    font-size: 28px;
    padding-top: 100px;}
  #fsizecolor {
    font-size: 15px;
}
}

/*Bigger Size*/
@media all and (min-width: 1500px)
{ body{
    background-color: pink;
    background-image: none;}




  

